In [1]:
import pandas as pd
import numpy as np

In [2]:
content = pd.read_csv("Content (1).csv")
reaction =pd.read_csv("Reactions (1).csv")
reaction_ty = pd.read_csv("ReactionTypes (1).csv")
session= pd.read_csv("Session (1).csv")
profile=pd.read_csv("Profile (1).csv", index_col=False)

In [3]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
profile.head()

,Unnamed: 0,User ID,Interests,Age
0,0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41.0
1,1,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23.0
2,2,a8229d24-f219-4930-a382-24049a8f73bb,"['fitness', 'cooking', 'animals', 'travel']",25.0
3,3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2.0
4,4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,['education'],44.0

In [5]:
reaction.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,4/22/2021 15:17
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,11/7/2020 9:43
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,6/17/2021 12:22
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,4/18/2021 5:13
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,1/6/2021 19:13

In [6]:
reaction_ty.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive   60.0
1           1        want  positive   70.0
2           2     disgust  negative    0.0
3           3        hate  negative    5.0
4           4  interested  positive   30.0

In [7]:
content.drop('Unnamed: 0',axis=1,inplace=True)
reaction.drop(['Unnamed: 0','User ID'],axis=1,inplace=True)
reaction_ty.drop('Unnamed: 0',axis=1,inplace=True)
profile.drop('Unnamed: 0',axis=1,inplace=True)
session.drop('Unnamed: 0',axis=1,inplace=True)

In [8]:
df = content.merge(profile, how='left', on='User ID')
df = df.merge(session, how='left', on='User ID')
df = df.merge(reaction, how='left', on='Content ID')
df = df.rename(columns={'Type_x':'Cont_Type','Type_y':'Type'})
df = df.merge(reaction_ty, how='left', on='Type')
df = df.rename(columns={'Type':'React_Type'})

In [9]:
df.head()

,Content ID,User ID,Cont_Type,Category,URL,Interests,Age,Device,Duration,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13.0,Microsoft,10.0,NaN,4/22/2021 15:17,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13.0,Microsoft,10.0,disgust,11/7/2020 9:43,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13.0,Microsoft,10.0,dislike,6/17/2021 12:22,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13.0,Microsoft,10.0,scared,4/18/2021 5:13,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13.0,Microsoft,10.0,disgust,1/6/2021 19:13,negative,0.0

In [10]:
df.drop(['URL','Interests'],axis=1,inplace=True)

In [11]:
df.head()

,Content ID,User ID,Cont_Type,Category,Age,Device,Duration,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,NaN,4/22/2021 15:17,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,disgust,11/7/2020 9:43,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,dislike,6/17/2021 12:22,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,scared,4/18/2021 5:13,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,disgust,1/6/2021 19:13,negative,0.0

In [12]:
df = df.dropna()

In [13]:
df.shape

(24573, 11)

In [14]:
df.head()

,Content ID,User ID,Cont_Type,Category,Age,Device,Duration,React_Type,Datetime,Sentiment,Score
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,disgust,11/7/2020 9:43,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,dislike,6/17/2021 12:22,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,scared,4/18/2021 5:13,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,disgust,1/6/2021 19:13,negative,0.0
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13.0,Microsoft,10.0,interested,8/23/2020 12:25,positive,30.0

In [15]:
df.shape

(24573, 11)

In [16]:
df.isnull().sum()

Content ID    0
User ID       0
Cont_Type     0
Category      0
Age           0
Device        0
Duration      0
React_Type    0
Datetime      0
Sentiment     0
Score         0
dtype: int64

In [17]:
df['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', 'Fitness', 'Veganism', 'Travel', 'Education',
       'Technology', 'Soccer', 'Culture', 'Food', 'Healthy Eating',
       'Science', 'Public Speaking'], dtype=object)

In [18]:
df['Category']= df['Category'].replace('""', '', regex =True)
df['Category']=df['Category'].str.lower()
df['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [20]:

df.to_excel('data_accenture.xlsx', index = False)